# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Environment variables
.env
.env.*
.env.local
.env.production
.env.development
.env.staging

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
